<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koa 模板</title>
</head>

<body>
    <h1>
        <%=h1_txt%>
    </h1>
    <span><%=span_txt%></span>
</body>

</html>